footer{
    padding-top: 50px;
    #footer{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        .ficons{
        display: flex;
        justify-content: center;
        gap: 20px;

            i{
                
                border-radius: 50%;
                color: rgb(255, 255, 255);
                background-color: rgb(3, 8, 53) ;
               text-align: center;
                padding: 15px;
                font-size: 20px 0;
                .fa-facebook-f{
                    padding: 0 10px;
                }
            }
        }
        .cprght{
            font-size: 24px;
            padding:20px 0
        }
    }
}
@media screen and (max-width:1000px) {
    footer{max-width: 100%;}
    
}